@model LoginViewModel

@{ 
    ViewData["Title"] = "Вход в систему";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form asp-action="Login" asp-antiforgery="true" asp-route-ReturnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @*@Html.HiddenFor(m => m.ReturnUrl)*@

                        <input asp-for="@Model.UserName" placeholder="Логин" />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>

                        <input asp-for="@Model.Password" placeholder="Логин" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>


                        <span>
                            <input asp-action="@Model.RememberMe" class="checkbox">
                            Keep me signed in
                        </span>

                        <button type="submit" class="btn btn-default">Login</button>

                        @*<button asp-action="Register" metoth="Get" class="btn btn-warning">Register</button>*@
                    </form>
                </div><!--/login form-->
            </div>
            @*<div class="row">
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <form asp-action="Register" asp-antiforgery="true">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input asp-for="@Model.UserName" placeholder="Name" />
                            <span asp-validation-for="@Model.UserName"></span>

                            <input asp-for="@Model.Password" placeholder="Password" />
                            <span asp-validation-for="@Model.Password"></span>

                            <input asp-for="@Model.PasswordConfirm" placeholder="Password confirm" />
                            <span asp-validation-for="@Model.PasswordConfirm"></span>

                            <button type="submit" class="btn btn-default">Signup</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>*@
        </div>
    </div>
</section><!--/form-->
