@using WebStore.Domain.Entites.Identity
@model IEnumerable<Employee>

@{
    ViewBag.Title = "Список сотрудников";
}

<a asp-controller="Home" asp-action="Index">Домой</a>

<h3>Список сотрудников</h3>

@if (User.IsInRole(Role.Administrator))
{
    <div>
        <a asp-action="Create" class="btn btn-primary">Создать</a>|<a asp-action="Edit" class="btn btn-primary">Создать ч\з edit</a>
    </div>
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.LastName</td>
                <td>@emp.FirstName</td>
                <td>@emp.Patronymic</td>
                <td>@emp.Age</td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@emp.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    @if (User.IsInRole(Role.Administrator))
                    {
                        @:|
                        <a asp-action="Edit" asp-route-id="@emp.Id">
                            <i class="fa fa-edit"></i>
                        </a>
                        @:|
                        <a asp-action="Delete" asp-route-id="@emp.Id" class="text-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                     }
                </td>

            </tr>
        }
    </tbody>

</table>
