@model IEnumerable<WebStore.Models.Employee>

    @*  //и так тоже не работает
        @{
            ViewData["Title"] = "Список сотрудников";
        }
        <hr />
        <table class="table table-bordered">
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Patronymic</td>
                    <td>@emp.Age</td>
                    <td>
                        <a asp-action="Details"
                           asp-route-id="@emp.Id">Детали</a>
                    </td>
                </tr>
            }
        </table>

    *@
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Список сотрудников</title>
    </head>
    <body>
        <a href="~/">Домой</a>

        <h3>Список сотрудников</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Возраст</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.LastName</td>
                        <td>@emp.FirstName</td>
                        <td>@emp.Patronymic</td>
                        <td>@emp.Age</td>
                        @*//Почему-то не работает :(
                            <td><a asp-action="Details"
                                   asp-route-id="@emp.Id">Детали</a>
                            </td>
                        *@
                        <td>@Html.ActionLink("Детали", "Details", new { Id = emp.Id })</td>
                    </tr>
                }
            </tbody>

        </table>

    </body>
</html>

